[Unit]
Description=Chromium kiosk
After=systemd-user-sessions.service network-manager.service acpid.service
Wants=network-manager.service acpid.service
Conflicts=getty@tty1.service

[Service]
User=kiosk
PAMName=login
Environment=HOME=/home/kiosk
TTYPath=/dev/tty1
StandardInput=tty-force
StandardOutput=journal
StandardError=journal
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Restart=always
RestartSec=2
ExecStartPre=/usr/bin/find /run/kiosk-chromium -mindepth 1 -delete
ExecStart=/usr/bin/xinit /usr/local/bin/kiosk-session -- :0 vt1 -keeptty -nolisten tcp -nocursor

[Install]
WantedBy=graphical.target
